<!-- about section -->

<section class="about_section layout_padding" id="about">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="assets/images/aboutUs.gif"  alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              this site is made by Abdelhamid boulaajoul in a stage period in Copag.
             <br> During this period I learned JavaScript and TypeScript with the Angular framework.
             <br> in the backend section, I used nodeJs and express to make the connection between the client and the database.
             <br> this formation also gave me a better understanding of databases, I made my database using the MySql language
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end about section -->