<!-- footer section -->
<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              this web site made by Abdelhamid boulaajoul
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/JaoudaMarocOfficiel">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/company/copag/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/jaouda.maroc.officiel/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="https://goo.gl/maps/RNVuAyqHSJmJb8zZ8">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  hay pam n70 ait iazza taroudant
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +212 631-479410
                </span>
              </a>
              <a href="abd.vou@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  abd.vou@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_contact">
            <h4>
              Subscribe
            </h4>
            <form action="#">
              <input type="text" placeholder="Enter email" />
              <button type="submit" onclick="notworkin()">
                Subscribe
              </button>
            </form>
          </div>
        </div>
  
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="/">abdelhamid boulaajoul</a>
        </p>
      </div>
    </div>
    
  </footer>