<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="true">
   <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button *ngFor="let num of otherSlid" type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="num[1].num" aria-label="Slide 2" ></button>
  </div>  -->
  <div class="carousel-inner" >

    <div class="carousel-item active " data-bs-interval="3000">
      <img [src]="sanitize(firstSlid.slid_img)" class="d-block slideImg w-100" alt="...">
      <div class="slidInfo">
        <h2>{{firstSlid.slid_name}}</h2>
        <p>{{firstSlid.slid_info}}</p>

      </div>
  </div>

    <div class="carousel-item" *ngFor="let slid of otherSlid" data-bs-interval="3000">
        <img [src]="sanitize(slid[0].slid_img)" class="d-block slideImg w-100" alt="...">
        <div class="slidInfo">
          <h2>{{slid[0].slid_name}}</h2>
          <p>{{slid[0].slid_info}}</p>

        </div>
    </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>